<!--[if lte IE 7]><style>#reviewStars-input{display:none}</style><![endif]-->

<div class="review__block" id="reviewStarsComponent">
    <input id="star-5" type="radio" name="reviewStars" data-val="5" />
    <label title="gorgeous" for="star-5"></label>

    <input id="star-4" type="radio" name="reviewStars" data-val="4" />
    <label title="good" for="star-4"></label>

    <input id="star-3" type="radio" name="reviewStars" data-val="3" />
    <label title="regular" for="star-3"></label>

    <input id="star-2" type="radio" name="reviewStars" data-val="2" />
    <label title="poor" for="star-2"></label>

    <input id="star-1" type="radio" name="reviewStars" data-val="1" />
    <label title="bad" for="star-1"></label>

    <div class="votes-count">
        //= preloader.html
    </div>
</div>

